@import "../../scss/variables";
@import "../../scss/mixins";

.root {
  @include flex-column(flex-start, center);
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 4;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.05);
}

.wrapper {
  @include flex-row(space-between, center);
  position: relative;
  width: 100%;
  min-width: $width;
  max-width: $max_width;
  min-height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $midnight_100;
  border-radius: 8px 8px 0px 0px;
  color: $white;
}

.link {
  @include flex-column(center, center);
  min-width: 120px;
  height: 40px;
  padding-left: 26px;
  padding-right: 26px;
  background-color: $link;
  border-radius: 8px;

  span {
    @include text-T1-14-bold;
    color: $midnight_100;
  }
}

.delivery_wrapper {
  @include flex-row(flex-start, center);
}

.delivery_svg_container {
  @include flex-row(center, center);
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-color: $yellow_100;
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(255, 176, 0, 0.5);
}

.delivery_svg {
  width: 12px;
  height: 13px;
}

.text {
  @include flex-column(center, flex-start);
}

.caption {
  @include text-T1-10-medium;
}

.value {
  @include text-T1-14-semibold;
}

.total_value {
  @include text-T1-16-bold;
}
