$white: #ffffff;
$black_60: #878786;
$midnight_100: #333333;
$midnight_70: #707070;
$midnight_50: #999999;
$midnight_25: #cccccc;
$midnight_10: #ebebeb;
$yellow_100: #ffb000;
$yellow_70: #ffc84d;
$yellow_50: #ffd780;
$yellow_25: #ffebbf;
$yellow_10: #fff7e5;
$warning_100: #f97313;
$warning_70: #fb9d5a;
$warning_50: #fcb989;
$warning_25: #fddcc4;
$warning_10: #fef1e7;
$success_100: #0eb44d;
$success_70: #56cb82;
$success_50: #87d9a6;
$success_25: #c3ecd3;
$success_10: #e7f7ed;
$background_page: #f5f4f2;
$background_state: #f4f3f3;
$shadow: #f2f2f2;
$smoke: #e7e5e5;
$error_100: #e5243f;
$link: #ffbc41;

$max_width: 550px;
$width: 360px;
$core_width: 312px;
$small_width: 278px;
